@media (max-width: 1024px){
      .carousel img {
        width: 720px;
        height: 360px;
      }
    
}

@media (max-width: 914px){
    
    .links{
        display: block;
        text-align: center;
        width: 100%;
        padding: 1rem 4%;
        background-color: #17181a;
    }

    .active{
        display: none;
    }


    #menu-bar{
        display: block;
        margin-left: -10px;
    }

    .initial > h1{
        font-size: 30px;
        font-weight: bold;
    }
    .initial > p{
        color: gray;
        font-size: 8px;
    }
    
    #btn{
        width: 100px;
        height: 30px;
        font-size: 8px;
    }

    /*habilities*/

    .ocult-responsive{
        display: none;
    }
    #more{
        margin-top: 10px;
        display: block;
        border-bottom: 1px solid #fff;
        font-size: 15px;
    }

    .habilities{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .linguagens{
        width: 150px;
        margin-left: 120px;
        margin-top: 30px;
    }

    .linguagens > h2{
        font-size: 15px;
        text-align: center;
    }

    .linguagens > ul{
        align-items: center;
    }

    .linguagens > ul > li{
        list-style: none;
        font-size: 10px;
    }

    .bx{
        font-size: 20px;
    }

    #php{
        font-size: 30px;
    }

    #ocultar{
        display: none;
        text-align: center;
        border-bottom: 1px solid #fff;
        font-size: 15px;
    }

    /*carrosel*/

    .carousel img {
        width: 240px;
        height: 120px;
      }

      .prev {
        left: -3px;
      }
    
      .next {
        right: -3px;
      }

      /*contato*/
    .contato{
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        gap: 40px;
    }

    .social-links{
        display: none;
    }

    .social-responsive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .social-responsive > h2{
        font-size: 20px;
    }

    .social-responsive > ul{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    #arrow-up{
        font-size: 20px;
    }
    #email{
        font-size: 12px;
    }
}

@media (max-width: 360px){
    .habilities{
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .linguagens{
        width: 150px;
        display: flex;
        margin-left: 20px;
        margin-top: 30px;
    }

    .linguagens > h2{
        font-size: 15px;
        text-align: center;
    }

    .linguagens > ul{
        align-items: center;
    }

    .prev {
        left: 0;
      }
    
      .next {
        right: 0;
      }

      .social-links > ul > li > a > i{
        font-size: 20px;
    }

    footer > p{
        font-size: 12px;
    }
}